

<nav>
    <div class="container">
      <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="website-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://smart-steel-technologies.com/solutions.html" target="_blank" rel="noreferrer"> Solutions</a></li>
        <li><a href="https://smart-steel-technologies.com/team.html" target="_blank" rel="noreferrer">Team</a></li>
        <li><a href="https://smartsteeltechnologiesgmbh.recruitee.com/" target="_blank" rel="noreferrer"> Careers</a></li>
        <li><a href="https://smart-steel-technologies.com/contact.html" target="_blank" rel="noreferrer">Contact</a></li>
        <li><a href="https://smart-steel-technologies.com/news.html" target="_blank" rel="noreferrer">News</a></li>
        <li><a href="https://smart-steel-technologies.com/imprint.html" target="_blank" rel="noreferrer">Imprint</a></li>
        </div>
    </div>
</nav>

<section class="jumbotron" style="background: url({{ url_for('static', filename='images/machine_learning.jpg') }})">
    <div class="container-fluid">
        <div class="row">
             <div class="col s12 desc p5">
                <h1>SMART STEEL TECHNOLOGIES</h1>
                <h2>Tackling the last efficiency frontier in steel manufacturing through Artificial Intelligence</h2>
                <a href="https://smart-steel-technologies.com/" target="_blank" class="btn-large waves-effect waves-light red">Click here</a>
            </div> 
           
        </div>
    </div>
</section>